.dark {
  --board-border-top: #777777;
  --board-border-left: #777777;
  --board-border-bottom: #333333;
  --board-border-right: #333333;

  --board-border: #555555;
  
  --separator-line-color: #555555;

  --board-border-internal-top: #333333;
  --board-border-internal-left: #333333;
  --board-border-internal-bottom: #777777;
  --board-border-internal-right: #777777;

  --header-background: #555555;
  --header-border-top: #333333;
  --header-border-left: #333333;
  --header-border-bottom: #777777;
  --header-border-right: #777777;

  --header-button-border: #333333;
  
  --header-button-background: #555555;
  --header-button-border-top: #777777;
  --header-button-border-left: #777777;
  --header-button-border-bottom: #333333;
  --header-button-border-right: #333333;
  --header-button-hover-opacity: 0.8;
  
  --numbers-panel-background: #111122;
  --numbers-panel-border-top: #333333;
  --numbers-panel-border-left: #333333;
  --numbers-panel-border-bottom: #777777;
  --numbers-panel-border-right: #777777;
  --seven-segment-color: 255, 0, 0;
  
  --cell-background: #555555;
  --cell-border-top: #777777;
  --cell-border-left: #777777;
  --cell-border-bottom: #333333;
  --cell-border-right: #333333;
  --cell-hover-opacity: 0.8;

  --reveal-background: #555555;
  --reveal-border: #333333;
  --reveal-lose-background: #FF1111;
}
