@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

/* css para el cambio de tema */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #f8f9fa;  
  --color-secondary: #e9ecef;
  --color-tertiary: #dee2e6;
  --color-quaternary: #ced4da;
  --color-quinary: #adb5bd;
  --color-sext: #6c757d;
  --color-sept: #495057;
  --color-oct: #343a40;
  --color-nonary: #212529;
}
@layer theme {
  .dark {
    --color-primary: #212529;  
    --color-secondary: #343a40;
    --color-tertiary: #495057;
    --color-quaternary: #6c757d;
    --color-quinary: #adb5bd;
    --color-sext: #ced4da;
    --color-sept: #dee2e6;
    --color-oct: #e9ecef;
    --color-nonary: #f8f9fa;
  }
}

/* css general de la apliacion */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  background-color: var(--color-primary);
  color: var(--color-nonary);
  font-size: 1.3rem;
  -webkit-text-size-adjust: 100%;
}

/* titulo */
.title {
  font-size: 3rem;
}
.title:hover {
  cursor: pointer;
}

/* estilos generales de los componentes */
.card {
  background-color: var(--color-secondary);
  border: 3px solid var(--color-quinary);
}
h1, h2, h3 {
  color: var(--color-nonary);
}
p.secondary {
  color: var(--color-sext);
}
button.primary {
  background-color: var(--color-oct);
  color: var(--color-primary);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}
button.primary:hover {
  opacity: 0.8;
  cursor: pointer;
}
button.secondary {
  background-color: var(--color-quaternary);
  color: var(--color-nonary);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}
button.secondary:hover {
  opacity: 0.8;
  cursor: pointer;
}
button.text:hover {
  opacity: 0.8;
  cursor: pointer;
}
.input {
  border: 2px solid var(--color-quinary);
  background-color: var(--color-primary);
  color: var(--color-nonary);
  width: 100%;
}
.inputCustom {
  border: 2px solid var(--color-quinary);
  background-color: var(--color-primary);
  color: var(--color-nonary);
  text-align: center;
  width: 50px;
}

/* tablero */
.board-border {
  border-top: 5px solid var(--border-light-color);  
  border-left: 5px solid var(--border-light-color);    
  border-bottom: 5px solid var(--border-dark-color);       
  border-right: 5px solid var(--border-dark-color); 
}
.board {
  border: 10px solid var(--background-color);
}
.separator-line {
  border: 5px solid var(--background-color);
}
.board-border-internal {
  border-top: 5px solid var(--border-dark-color);        
  border-left: 5px solid var(--border-dark-color);      
  border-bottom: 5px solid var(--border-light-color);      
  border-right: 5px solid var(--border-light-color);      
}

/* header del tablero */
.header {
  background-color: var(--background-color);    
  border-top: 5px solid var(--border-dark-color);       
  border-left: 5px solid var(--border-dark-color);    
  border-bottom: 5px solid var(--border-light-color);    
  border-right: 5px solid var(--border-light-color);     
}
.header-buttons-border {
  border: 1px solid var(--border-dark-color);
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px; 
  width: 38px; 
  background-color: var(--background-color); 
  border-top: 3px solid var(--border-light-color); 
  border-left: 3px solid var(--border-light-color); 
  border-bottom: 3px solid var(--border-dark-color);       
  border-right: 3px solid var(--border-dark-color); 
}
.header-buttons:hover {
  opacity: var(--opacity);
  cursor: pointer;
}
.header-buttons img {
  width: 90%;
  aspect-ratio: 1 / 1;
}

/* display seven segment del header */
.numbers-panel {
  display: flex;
  gap: 3px;
  padding: 2px;
  border-top: 2px solid var(--border-dark-color);        
  border-left: 2px solid var(--border-dark-color);
  border-bottom: 2px solid var(--border-light-color);
  border-right: 2px solid var(--border-light-color);
  background-color: var(--numbers-panel-background);
}
.seven-segment {
  display: inline-flex;
  position: relative;
  width: 17px; 
  height: 34px;
}
.segment {
  position: absolute;
  background: rgba(var(--seven-segment-color), 0.2);
  transition: background 0.2s;
}
.segment.a, .segment.d, .segment.g {
  width: 17px;
  height: 4px;
}
.segment.b, .segment.c, .segment.e, .segment.f {
  width: 4px;
  height: 17px;
}
/* forma de cada segmento */
.segment.a { top: 0; 
  clip-path: polygon(
    5% 0%,      /* izquierda arriba */
    95% 0%,    /* derecha arriba */
    73% 100%,  /* derecha abajo */
    25% 100%     /* izquierda abajo */
  );
}
.segment.b { top: 0px; right: 0;
  clip-path: polygon(
    0% 27%,      /* izquierda arriba */
    100% 5%,    /* derecha arriba */
    100% 95%,  /* derecha abajo */
    0% 75%     /* izquierda abajo */
  );
}
.segment.c { bottom: 0; right: 0; 
  clip-path: polygon(
    0% 25%,      /* izquierda arriba */
    100% 5%,    /* derecha arriba */
    100% 95%,  /* derecha abajo */
    0% 73%     /* izquierda abajo */
  );
}
.segment.d { bottom: 0; 
  clip-path: polygon(
    27% 0%,      /* izquierda arriba */
    73% 0%,    /* derecha arriba */
    95% 100%,  /* derecha abajo */
    5% 100%     /* izquierda abajo */
  );
}
.segment.e { bottom: 0; left: 0; 
  clip-path: polygon(
    0% 5%,      /* izquierda arriba */
    100% 25%,    /* derecha arriba */
    100% 73%,  /* derecha abajo */
    0% 95%     /* izquierda abajo */
  );
}
.segment.f { top: 0; left: 0;
  clip-path: polygon(
    0% 5%,      /* izquierda arriba */
    100% 27%,    /* derecha arriba */
    100% 75%,  /* derecha abajo */
    0% 95%     /* izquierda abajo */
  );
}
.segment.g { top: 50%; left: 0; transform: translateY(-50%); 
  clip-path: polygon(
    25% 0%,   /* punto arriba izquierda */
    75% 0%,   /* punto arriba derecha */
    95% 50%, /* punto en el centro derecha */
    75% 100%, /* punto abajo derecha */
    25% 100%, /* punto abajo izquierda */
    5% 50%    /* punto en el centro izquierda */
  );
}
/* Activacion de los segmentos segun el digito */
.seven-segment[data-digit="0"] .segment.a,
.seven-segment[data-digit="0"] .segment.b,
.seven-segment[data-digit="0"] .segment.c,
.seven-segment[data-digit="0"] .segment.d,
.seven-segment[data-digit="0"] .segment.e,
.seven-segment[data-digit="0"] .segment.f { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="1"] .segment.b,
.seven-segment[data-digit="1"] .segment.c { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="2"] .segment.a,
.seven-segment[data-digit="2"] .segment.b,
.seven-segment[data-digit="2"] .segment.g,
.seven-segment[data-digit="2"] .segment.e,
.seven-segment[data-digit="2"] .segment.d { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="3"] .segment.a,
.seven-segment[data-digit="3"] .segment.b,
.seven-segment[data-digit="3"] .segment.g,
.seven-segment[data-digit="3"] .segment.c,
.seven-segment[data-digit="3"] .segment.d { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="4"] .segment.f,
.seven-segment[data-digit="4"] .segment.g,
.seven-segment[data-digit="4"] .segment.b,
.seven-segment[data-digit="4"] .segment.c { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="5"] .segment.a,
.seven-segment[data-digit="5"] .segment.f,
.seven-segment[data-digit="5"] .segment.g,
.seven-segment[data-digit="5"] .segment.c,
.seven-segment[data-digit="5"] .segment.d { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="6"] .segment.a,
.seven-segment[data-digit="6"] .segment.f,
.seven-segment[data-digit="6"] .segment.g,
.seven-segment[data-digit="6"] .segment.e,
.seven-segment[data-digit="6"] .segment.c,
.seven-segment[data-digit="6"] .segment.d { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="7"] .segment.a,
.seven-segment[data-digit="7"] .segment.b,
.seven-segment[data-digit="7"] .segment.c { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="8"] .segment.a,
.seven-segment[data-digit="8"] .segment.b,
.seven-segment[data-digit="8"] .segment.c,
.seven-segment[data-digit="8"] .segment.d,
.seven-segment[data-digit="8"] .segment.e,
.seven-segment[data-digit="8"] .segment.f,
.seven-segment[data-digit="8"] .segment.g { background: rgba(var(--seven-segment-color), 1); }

.seven-segment[data-digit="9"] .segment.a,
.seven-segment[data-digit="9"] .segment.b,
.seven-segment[data-digit="9"] .segment.c,
.seven-segment[data-digit="9"] .segment.d,
.seven-segment[data-digit="9"] .segment.f,
.seven-segment[data-digit="9"] .segment.g { background: rgba(var(--seven-segment-color), 1); }

/* casillas del tablero */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--background-color); 
  border-top: 3px solid var(--border-light-color);  
  border-left: 3px solid var(--border-light-color);  
  border-bottom: 3px solid var(--border-dark-color);        
  border-right: 3px solid var(--border-dark-color); 
}
.cell:hover {
  opacity: var(--opacity);
  cursor: pointer;
}
.cell img {
  width: 60%;
  height: 80%;
}
/* casillas reveladas del tablero */
.reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--background-color);
  border: 1px solid var(--border-dark-color);
}
.reveal img {
  width: 60%;
  aspect-ratio: 1 / 1;
}
/* casillas reveladas del tablero con bomba */
.reveal-lose {
  background-color: var(--reveal-lose-background);
}

/* modals */
.modal-border {
  border-top: 5px solid var(--border-light-color);  
  border-left: 5px solid var(--border-light-color);    
  border-bottom: 5px solid var(--border-dark-color);       
  border-right: 5px solid var(--border-dark-color); 
}
.modal {
  border: 10px solid var(--background-color);
}
.modal-border-internal {
  border-top: 5px solid var(--border-dark-color);        
  border-left: 5px solid var(--border-dark-color);      
  border-bottom: 5px solid var(--border-light-color);      
  border-right: 5px solid var(--border-light-color);   
  padding: 10px;  
  background-color: var(--background-color);
}
.modal-button-close-border {
  border: 1px solid var(--border-dark-color);
}
.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; 
  width: 30px; 
  background-color: var(--background-color); 
  border-top: 3px solid var(--border-light-color); 
  border-left: 3px solid var(--border-light-color); 
  border-bottom: 3px solid var(--border-dark-color);       
  border-right: 3px solid var(--border-dark-color); 
}
.modal-button-close:hover {
  opacity: var(--opacity);
  cursor: pointer;
}
.modal-button-close img {
  width: 70%;
  aspect-ratio: 1 / 1;
}
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-dark-color);
  background-color: var(--background-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox:hover {
  opacity: 0.8;
  cursor: pointer;
}
.checkbox:checked {
  background-image: url('img/check.png');
  background-size: 80%; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: #22c55e;
}
.modal-button-update-border {
  border: 1px solid var(--border-dark-color);
}
.modal-button-update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color); 
  border-top: 3px solid var(--border-light-color); 
  border-left: 3px solid var(--border-light-color); 
  border-bottom: 3px solid var(--border-dark-color);       
  border-right: 3px solid var(--border-dark-color); 
  color: var(--text-color);
}
.modal-button-update:hover {
  opacity: var(--opacity);
  cursor: pointer;
}
.text-color {
  color: var(--text-color);
}

/* estilos para mobile y tablets */
@media (max-width: 640px) {
  body {
    font-size: 1.2rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .board-border {
    border-top: 4px solid var(--border-light-color);  
    border-left: 4px solid var(--border-light-color);  
    border-bottom: 4px solid var(--border-dark-color);        
    border-right: 4px solid var(--border-dark-color);  
  }
  .board {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 8px solid var(--background-color);  
  }
  .separator-line {
    border: 4px solid var(--background-color);
  }
  .board-border-internal {
    border-top: 4px solid var(--border-dark-color);       
    border-left: 4px solid var(--border-dark-color);
    border-bottom: 4px solid var(--border-light-color);
    border-right: 4px solid var(--border-light-color);
  } 
  .header {
    border-top: 4px solid var(--border-dark-color);        
    border-left: 4px solid var(--border-dark-color);        
    border-bottom: 4px solid var(--border-light-color);        
    border-right: 4px solid var(--border-light-color);         
  }
  .modal-border {
    border-top: 4px solid var(--border-light-color);  
    border-left: 4px solid var(--border-light-color);    
    border-bottom: 4px solid var(--border-dark-color);       
    border-right: 4px solid var(--border-dark-color); 
  }
  .modal {
    border: 8px solid var(--background-color);
  }
  .modal-border-internal {
    border-top: 4px solid var(--border-dark-color);        
    border-left: 4px solid var(--border-dark-color);      
    border-bottom: 4px solid var(--border-light-color);      
    border-right: 4px solid var(--border-light-color);   
  }
}
