@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ffffff;  
  --color-secondary: #dfdfdf;
  --color-tertiary: #c0c0c0;
  --color-quaternary: #a0a0a0;
  --color-quinary: #818181;
}

@layer theme {
  .dark {
    --color-primary: #000;  
    --color-secondary: #1b1b1b;
    --color-tertiary: #363636;
    --color-quaternary: #505050;
    --color-quinary: #6b6b6b;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'VT323', monospace;
  background-color: var(--color-primary);
  color: var(--color-quinary);
  font-size: 1.3rem;
  font-weight: normal;
}